html body {
  font-size: 16px;
  font-family: Arial;
  background-color: black;
  color: white;
}

.wd-main-text {
  margin: 0px;
  font-weight: bold;
}

.wd-secondary-text {
  margin: 0px;
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-main-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.wd-main-img-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 36px;
  font-weight: bold;
  background-color: transparent;
}

.nav.nav-tabs .nav-item .nav-link.active {
  background-color: rgb(69, 161, 204);
}

.nav.nav-tabs .nav-item .nav-link {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
}
