* {
  font-size: 100%;
  font-family: Arial;
}

body {
  background-color: black;
  margin: 0px 16px;
}

h1 {
  color: white;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

.wd-main-border {
  border: 1px solid rgb(47, 51, 54);
}

.wd-header {
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.wd-header-handle-text {
  color: rgb(134, 134, 134);
  font-size: 13px;
}

.wd-tuit-title {
  margin: 0;
  color: white;
}

.wd-tuit-text {
  color: white;
  font-size: 15px;
  max-width: 506px;
  margin-top: 5px;
}

.wd-handle-text {
  color: rgb(133, 133, 133);
  font-size: 15px;
}

.wd-author-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.wd-tuit-bookmark-container {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.wd-tuit-bookmark-content {
  margin: 12px 16px 12px 0px;
}

.wd-post-bookmark-container {
  display: flex;
  flex-direction: column;
  padding-left: 76px;
  padding-top: 12px;
  padding-right: 6px;
}

.wd-bookmark-content {
  flex: 1;
}

.wd-bookmark-user-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 12px 12px 12px 16px;
}

.wd-bookmark-post-img {
  height: 264px;
  width: 504px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: none;
}

.wd-post-bookmark-content {
  margin-bottom: 12px;
  padding: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 480px;
}

.wd-post-title {
  margin: 0;
  font-weight: bold;
  color: white;
}

.wd-post-text {
  color: rgb(133, 133, 133);
  font-size: 15px;
  margin: 5px 0px;
}

.wd-post-bookmark-icon-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-bottom: 12px;
}

.wd-post-icon {
  flex: 1;
  color: rgb(133, 133, 133);
}

.wd-icon-red {
  color: rgb(219, 74, 98);
}

.wd-icon-text {
  padding-left: 12px;
}
