html body {
  font-size: 14px;
  font-family: Arial;
  background-color: black;
  color: white;
}

.wd-secondary-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
  margin: 0px;
}

.wd-main-text {
  margin: 0px;
  font-weight: bold;
}

.nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border: none;
  color: rgb(177, 177, 177);
}

.nav-tabs .nav-item .nav-link.active {
  border-bottom: 3px solid rgb(83, 200, 255);
  color: white;
  font-weight: bold;
}

.wd-main-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.wd-main-img-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 36px;
  font-weight: bold;
  background-color: transparent;
}

.wd-dim-100 {
  width: 100px;
  height: 100px;
}

.list-group-item.active {
  font-weight: bold;
  background-color: dark;
  border: none;
}

.wd-icon {
  margin: auto;
  height: 21px;
  display: block;
}
