* {
  font-size: 14px;
  font-family: Arial;
  background-color: black !important;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

.wd-main-border {
  border: 1px solid rgb(68, 68, 68);
}

.wd-search-bar-border {
  border-radius: 20px;
  border-width: 0;
  padding: 0 2%;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(48, 48, 48) !important;
}

.wd-secondary-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
  margin: 0px;
}

.wd-post-img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.nav-pills .menu-pill .nav-link:not(.active) {
  color: rgb(73, 73, 73);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 0;
}

.wd-tweet-btn {
  border-radius: 20px;
  margin: 5px;
  width: 95%;
  color: black;
  background-color: white !important;
  border: none;
}

.wd-icon {
  width: 100%;
  border-radius: 60%;
}

.wd-main-text {
  margin: 0px;
  font-weight: bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-tabs {
  border: none;
}

.nav .nav-pills .flex-column > li {
  border-left: none;
}

.nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border: none;
  color: rgb(177, 177, 177);
}

.nav-tabs .nav-item .nav-link.active {
  border-bottom: 3px solid rgb(83, 200, 255);
  color: white;
  font-weight: bold;
}

#search {
  background-color: rgb(48, 48, 48) !important;
}

#search-addon {
  background-color: rgb(48, 48, 48) !important;
}

.wd-tuit-btn {
  background-color: rgb(70, 196, 255) !important;
}

.nav-item.active {
  font-weight: bold;
}

#who-to-follow {
  background-color: rgb(36, 36, 36) !important;
  border-radius: 20px;
}

.wd-block {
  display: inline-block;
}
.wd-block:empty:before {
  content: "\00a0";
}

.wd-main-img {
  width: 100%;
}

.wd-main-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.wd-main-img-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 36px;
  font-weight: bold;
  background-color: transparent !important;
}
